
.background {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(Bild-Bert1.png);
    /* https://www.freepik.com/free-vector/gradient-galaxy-background_14658088.htm optimize in prod*/
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

